html{
    height: 100%;
}

body{
    margin:             0;
    
    background-color:   black;          /* fall back */
    background-image:   -webkit-radial-gradient(#1A203B, black, #455480 150%);  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image:   -moz-radial-gradient(#1A203B, black, #455480 150%);     /* Firefox 3.6 - 15 */
    background-image:   -o-radial-gradient(#1A203B, black, #455480 150%);       /* Opera 11.1 - 12 */

    background:         radial-gradient(#1A203B, black, #455480 150%);
    
    
    background-image:   url("../images/gradientBackground.svg"); 
    background-size:    cover;
    
    color:              white;
    font-family:        "Roboto";   
    
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    width:              100%;
}


h1{
    text-align: center;
}

h2{
    font-size:  16px;
}

p{
    font-family: "Courier New";
}

#topBar{
    
        flex-direction: row-reverse;

    display:        flex;
    flex-direction: column;
    align-items:    flex-end;
    
}

#main{
     margin-top: 5%;
}


.menu{
    flex-direction: row-reverse;
    text-decoration:    none;
    display:            flex;
    list-style-type:    none;
}

a:visited{
    color:              white;
    text-decoration:    none;
}

#main{
    display:    flex;
    padding:    0 5%;
    text-align: justify;
}

.card{
    width:          33%;
    padding:        15% 2%;
    margin:         0 1%;
    background:     radial-gradient(circle at bottom right, #243059, #455480 75%, #b99dcc 150%);
    box-shadow:     6px 4px 8px black;    
    border-radius:  20px;
    max-width:      480px;
}

#card1{
    text-align: center;
}

#profilePic{
    border-radius:  100%;
    width:          50%;
}