html{
    height: 100%;
}

body{
    margin:             0;
    
    background-color:   black;          /* fall back */
    background-image:   -webkit-radial-gradient(#1A203B, black, #455480 150%);  /* Safari 5.1, iOS 5.0-6.1, Chrome 10-25, Android 4.0-4.3 */
    background-image:   -moz-radial-gradient(#1A203B, black, #455480 150%);     /* Firefox 3.6 - 15 */
    background-image:   -o-radial-gradient(#1A203B, black, #455480 150%);       /* Opera 11.1 - 12 */

    background:         radial-gradient(#1A203B, black, #455480 150%);
    
    background-image:   url("../images/gradientBackground.svg"); 
    
    color: white;
    font-family: "Roboto";
    
}

p{
    font-family: "Courier New";
}

.menu{
    display:    flex;
}


#card1{
    text-align: center;
}

#main{
    display:    flex;
    padding:    0 5%;
    text-align: justify;
}

.card{
    width:      33%;
    padding:    15% 2%;
    margin:     0 1%;
    background: radial-gradient(circle at bottom right, #243059, #455480 75%, #b99dcc 150%);
    box-shadow: 6px 4px 8px black;
    border-radius: 20px;
    
}

h1{
    text-align: center;
}

h2{
    font-size:  16px;
}

#profilePic{
    border-radius:  100px;
    width:          50%;
}

@keyframes gradientAnimation{
    from    {background: radial-gradient(circle at bottom right, #243059, #455480 75%);}
    to      {background: radial-gradient(circle at top right, #243059, #455480 75%);}
}